---
title: 'Pixel Perfect Websites | Code Stitch Web Designs | Denver, CO'
description: 'Meta description for the page'
preloadImg: '/assets/images/landing.jpg'
permalink: '/'
tags: 'sitemap' # Sitemap will use all pages in content/, due to content.json. As index.html is not included in content/ we need to manually add the sitemap tag to this page (only).
eleventyNavigation:
  key: Home
  order: 100
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/local.css"/>
    <link rel="stylesheet" href="/assets/css/critical.css"/>

    <!-- JSON Schema Markup -->
    <script type="application/ld+json">
        {
            "@context": "http://schema.org",
            "@type": "LocalBusiness",
            "name": "{{ client.name }}",
            {% if preloadImg %}"image": "{{ preloadImg }}",{% endif %}
            {% if client.phoneFormatted %}"telephone": "{{ client.phoneFormatted }}",{% endif %}
            {% if client.email %}"email": "{{ client.email }}",{% endif %}
            {% if client.address %}
                "address": {
                    "@type": "PostalAddress"{% if client.address.lineOne %},
                        "streetAddress": "{{ client.address.lineOne }}{% if client.address.lineTwo %}, {{ client.address.lineTwo }}{% endif %}"
                    {% endif %}
                    {% if client.address.city %},
                        "addressLocality": "{{ client.address.city }}"
                    {% endif %}
                    {% if client.address.state %},
                        "addressRegion": "{{ client.address.state }}"
                    {% endif %}
                    {% if client.address.zip %},
                        "postalCode": "{{ client.address.zip }}"
                    {% endif %}
                    {% if client.address.country %},
                        "addressCountry": "{{ client.address.country }}"
                    {% endif %}
                },
            {% endif %}
            {% if client.domain and page.url %}"url": "{{ client.domain }}{{ page.url }}",{% endif %}
            {% if client.socials %}
                "sameAs": [{% for platform, url in client.socials %}
                        {% if not loop.first %},{% endif %}
                        "{{ url }}"
                    {% endfor %}]
            {% endif %}
        }
    </script>
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    Hero                      -->
<!-- ============================================ -->

<section id="Hero">
    <div class="cs-container">
        <div class="cs-flex-group">
            <h1 class="cs-title">High Quality</h1>
            <h1 class="cs-title">Custom Made</h1>
            <h1 class="cs-title">Local Signs</h1>
            <p class="cs-text">
                30+ Year of Experience
            </p>
            <a href="Contact" class="cs-button-solid">Contact Us</a>
        </div>
    </div>
    <!--Background Color-->
    <picture class="cs-background">
        <source media="(min-width: 600px)" srcset="http://localhost:8080/assets/images/landing.jpg">
        <source media="(min-width: 601px)" srcset="http://localhost:8080/assets/images/landing.jpg">
        <img aria-hidden="true" decoding="async" src="http://localhost:8080/assets/images/landing.jpg" alt="meeting" width="2250" height="1500">
    </picture>
</section>
                                
                                

<!-- ============================================ -->
<!--                    Signs                     -->
<!-- ============================================ -->

    <section id="services" class="services">
        <!-- Get Icons From flaticon.com -->
        <div class="card">
            <h2>Indoor Signs</h2>
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="assets/images/Indoor Signs.webp"
                alt="Indoor"
                width="48"
                height="48"/>
            </picture>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
        <div class="card">
            <h2>Outdoor Signs</h2>
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/Outdoor Signs.webp"
                alt="Outdoor"
                width="48"
                height="48"/>
            </picture>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
        <div class="card">
            <h2>Vinyl Signs</h2>
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/Vinyl Signs.webp"
                alt="Vinyl"
                width="48"
                height="48"/>
            </picture>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
        <div class="card">
            <h2>Custom Signs</h2>
            <picture>
                <img
                aria-hidden="true"
                decoding="async"
                src="/assets/images/Custom Signs.webp"
                alt="Custom"
                width="48"
                height="48"/>
            </picture>
            <a href="/about" class="cs-button-solid">Learn More</a>
        </div>
    </section>

<!-- ============================================ -->
<!--                 Who Are We?                  -->
<!-- ============================================ -->

    <section id="war">
        <div class="cs-container">
                <h2 class="cs-title">Who Are We?</h2>
                <p class="cs-text-top">
                    It has been said "You get what you pay for". 
                </p>
                <p class="cs-text">
                    You can expect from us 
                    <!-- Mark adds Primary Website Color to the word -->
                    <mark class="primary">Quality</mark>
                    at competitive prices. Please consider our designs to make your signs work, made easy to read and look great as signage or in print.
                </p>
                <a href="/about" class="cs-button-solid">Find Out More</a>
        </div>
    </section>

<!-- ============================================ -->
<!--                   Reviews                    -->
<!-- ============================================ -->

    <section id="reviews" class="cs-reviews">
        <div class="cs-container">
            <div class="cs-content">
                <h2 class="cs-title">Testimonials</h2>
            </div>
            <ul class="cs-card-group">
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="http://localhost:8080/assets/svgs/profile.svg" alt="profile" width="68" height="68">
                    <span class="cs-name">Donna Garner</span>
                    <span class="cs-desc">Massachusetts</span>
                    <p class="cs-item-text">
                        Highly recommend , wouldn't go anywhere else. They designed my front window for my business ( Wagntails Dog Grooming ), 15 yrs ago when I first opened. Laurie & Keith are very knowledgeable and easy to work with !
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="http://localhost:8080/assets/svgs/profile.svg" alt="profile" width="68" height="68">
                    <span class="cs-name">Sarat</span>
                    <span class="cs-desc">Massachusetts</span>
                    <p class="cs-item-text">
                       Keith and Laurie are amazing people to work with. They take your problems as their own to solve it. Will be taking all my printing requirements to them.
                    </p>
                </li>
                <li class="cs-item">
                    <img class="cs-img" aria-hidden="true" loading="lazy" decoding="async" src="http://localhost:8080/assets/svgs/profile.svg" alt="profile" width="68" height="68">
                    <span class="cs-name">Micheal Oakes</span>
                    <span class="cs-desc">Massachusetts</span>
                    <p class="cs-item-text">
                        Extremely Friendly and Quick Staff. Keith and Laurie were on it as soon as I brought my computer in.
                    </p>
                </li>
            </ul>
            <a aria-label="read more reviews" href="reviews" class="cs-button-solid">Read More</a>
        </div>
    </section>

    {% include 'components/cta.html' %}
{% endblock %}