/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Who Are We?          -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #war {
        background-color: #2E99CE;
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: (16/16rem) auto;
            /* 16px - 32px */
            max-width: (1280/16rem);
            width: 100%;
            row-gap: (20/16rem);
        }

        .cs-title {
            display:flex;
            justify-content: center;
            color: var(--bodyTextColorWhite);
            max-width: (800/16rem);
            text-align: left;
        }

        .cs-text-top {
            letter-spacing: 0.05rem;
            color: var(--bodyTextColorWhite);
            max-width: (750/16rem);
            text-align: left;
            margin: 0;
        }

        .cs-text {
            margin: 0 0 (16/16rem) 0;
            letter-spacing: 0.09rem;
            color: var(--bodyTextColorWhite);
            max-width: (750/16rem);
            text-align: left;
        }

        .cs-button-solid {
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs { 
        .cs-text-top {
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-button-solid,
            .cs-text-top,
            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--dark);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }
        }
    }
}

/*-- -------------------------- -->
<---         Testimonials       -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews {
        background-color: var(--bodyTextColorWhite);
        padding: var(--sectionPadding);

        .cs-container {
            width: 100%;
            max-width: (1280/16rem);
            margin: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            /* 48px - 64px */
            gap: clamp(3rem, 6vw, 4rem);
        }

        .cs-content {
            /* set text align to left if content needs to be left aligned */
            text-align: center;
            width: 100%;
            display: flex;
            flex-direction: column;
            /* centers content horizontally, set to flex-start to left align */
            align-items: center;
        }

        .cs-card-group {
            width: 100%;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: (20/16rem);
        }

        .cs-item {
            border-radius: (5%);
            padding: (16/16rem);
            background-color: (#e2e6ea);
            margin: (0/16rem) (10/16rem) (0/16rem) (0/16rem);
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            list-style: none;
            width: 100%;
            max-width: (413/16rem);
        }

        .cs-img {
            width: (68/16rem);
            height: (68/16rem);
            margin: 0 auto (16/16rem);
            border-radius: 50%;
            display: block;
        }

        .cs-name {
            font-size: (20/16rem);
            line-height: 1.2em;
            text-align: center;
            font-weight: 700;
            margin: 0;
            color: var(--headerColor);
            display: block;
        }

        .cs-desc {
            font-size: (16/16rem);
            line-height: 1.5em;
            text-align: center;
            margin: 0 0 (16/16rem);
            color: #7d799c;
            display: block;
        }

        .cs-item-text {
            /* 14px - 16px */
            font-size: clamp(0.875rem, 2vw, 1rem);
            text-align: center;
            line-height: 1.5em;
            margin: auto;
            color: var(--bodyTextColor);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews {
        .cs-card-group {
            flex-direction: row;
            justify-content: center;
            align-items: stretch;
            flex-wrap: wrap;
            row-gap: (40/16rem);
        }

        .cs-item {
            /* we do this so it's stackable. You can add new any number of reviews you want and they will stack and center in the middle. We dont use grid because if you have an odd number of reviews, they don't stay centered.  They align with their grid lines. If you want 4 reviews in a row, lower the width under 23% to get the desired sizes fit 4 in a row and then stack when you add more*/
            width: clamp(31.5%, 30vw, 32.3%);
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews {
            background-color: var(--dark);
            .cs-item-text,
            .cs-text {
                opacity: 0.8;
            }
        }
    }
}

                                
