/* PAGE-SPECIFIC STYLES FOR THE HOME PAGE */

/*-- -------------------------- -->
<---       Side By Side         -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #sbs {
        background-color: #2E99CE;
        padding: var(--sectionPadding);

        .cs-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: (16/16rem) auto;
            /* 16px - 32px */
            max-width: (1280/16rem);
            width: 100%;
            row-gap: (20/16rem);
        }

        .cs-title {
            display:flex;
            justify-content: center;
            color: var(--bodyTextColorWhite);
            max-width: (800/16rem);
            text-align: left;
        }

        .cs-text-top {
            letter-spacing: 0.05rem;
            color: var(--bodyTextColorWhite);
            max-width: (750/16rem);
            text-align: left;
            margin: 0;
        }

        .cs-text {
            margin: 0 0 (16/16rem) 0;
            letter-spacing: 0.09rem;
            color: var(--bodyTextColorWhite);
            max-width: (750/16rem);
            text-align: left;
        }

        .cs-button-solid {
            height: auto;
            width: (200/16rem);
            color: var(--bodyTextColorWhite);
        }
    }
}

/* Desktop - 1024px */
@media only screen and (min-width: 64rem) {
    #sbs { 
        .cs-text-top {
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #sbs {
            .cs-left {
                &:before,
                &:after {
                    background: var(--accent);
                }
            }

            .cs-picture2 {
                /* 6px - 12px */
                border: clamp(0.375em, 1.5vw, 0.75em) solid var(--dark);
                background-color: var(--dark);
            }

            .cs-topper {
                color: var(--primaryLight);
            }

            .cs-title,
            .cs-text,
            .cs-h3,
            .cs-flex-p,
            .cs-name {
                color: var(--bodyTextColorWhite);
            }

            .cs-flex-group {
                background-color: var(--accent);
            }

            .cs-job {
                opacity: 0.8;
                color: var(--bodyTextColorWhite);
            }

            .cs-quote-icon {
                opacity: 0.2;
            }
        }
    }
}

/*-- -------------------------- -->
<---          Reviews           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
    #reviews {
        padding: var(--sectionPadding);
        /* Centers the button */
        text-align: center;

        .cs-container {
            margin: auto;
            max-width: (1104/16rem);
            width: 100%;
        }

        .cs-topper {
            margin-bottom: (16/16rem);
            text-align: center;
        }

        .cs-title {
            max-width: (700/16rem);
            text-align: center;
        }

        .cs-text {
            /* 88px - 104px */
            margin-bottom: clamp(5.5em, 10.2vw, 6.5em);
            max-width: (650/16rem);
            text-align: center;
        }

        .cs-card-group {
            /* 48px - 64px */
            margin: 0 auto clamp(3rem, 5vw, 4rem);
            padding: 0;
        }

        .cs-item {
            position: relative;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            border-radius: (4/16rem);
            margin: 0 auto (64/16rem);
            background: #fff;
            max-width: (542/16rem);
            width: 100%;
            /* Prevents padding from affecting height & width */
            box-sizing: border-box;
            /* Padding L & R - 16px - 32px */
            padding: (60/16rem) clamp(1rem, 3.2vw, 2rem) 0;
            /* 32px - 40px */
            padding-bottom: clamp(2rem, 5.4vw, 2.5rem);
            list-style: none;
            text-align: left;
            box-shadow: 0px 20px 39px 0px rgba(0, 0, 0, 0.05);

            &:last-of-type {
                margin-bottom: 0;
            }
        }

        .cs-item-img {
            position: absolute;
            top: calc(-40 / 16 * 1rem);
            height: (80/16rem);
            width: (80/16rem);
        }

        .cs-item-p {
            border-bottom: 1px solid #e8e9ec;
            margin: 0 0 (20/16rem);
            padding-bottom: (20/16rem);
            font-size: (16/16rem);
            line-height: 1.5em;
            color: var(--bodyTextColor);
        }

        .cs-reviewer {
            display: block;
            margin: 0 auto 0 0;
            width: 40%;
            font-size: (16/16rem);
            line-height: 1.5em;
            font-weight: 700;
            color: var(--headerColor);
        }

        .cs-desc {
            display: block;
            font-size: (14/16rem);
            font-weight: 400;
            color: var(#353535);
        }

        .cs-item-stars {
            height: (16/16rem);
            width: (96/16rem);
        }
    }
}

/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
    #reviews {
        .cs-card-group {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: (16/16rem);
        }

        .cs-item {
            /* reset margin so it won't interfere with flexbox */
            margin: 0;
        }
    }
}

/* Dark Mode */
@media only screen and (min-width: 0rem) {
    body.dark-mode {
        #reviews {
            .cs-title,
            .cs-text,
            .cs-item-p,
            .cs-reviewer {
                color: var(--bodyTextColorWhite);
            }

            .cs-item {
                background: var(--medium);
            }

            .cs-desc {
                color: var(--primaryLight);
            }
        }
    }
}
