/* STYLES FOR ABOVE THE FOLD */
/*-- -------------------------- -->
<---           Hero             -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #Hero {
    /* 144px - 300px - leaving extra space for the navigation */
    padding: clamp(9rem, 10vw, 18.75rem) 0.9375rem 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    /* clips the color overlay so it doesn't cause an overflow */
    overflow: hidden;
  }
  #Hero .cs-container {
    width: 50%;
    max-width: 156.25rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  #Hero .cs-flex-group {
    text-align: left;
    /* changed to at tablet */
    max-width: 34.0625rem;
    margin: 0rem 0rem 3.125rem 0rem;
  }
  #Hero .cs-title {
    /* 39px - 61px */
    min-width: 12.5rem;
    font-size: clamp(2rem, 6.7vw, 3rem);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    /* 16px - 32px */
    color: var(--bodyTextColorWhite);
    position: relative;
  }
  #Hero .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    /* 40px - 64px */
    margin: 0 0 10rem 0;
    color: var(--bodyTextColorWhite);
  }
  #Hero .cs-button-solid {
    justify-self: unset;
  }
  #Hero .cs-background {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  #Hero .cs-background:before {
    /* Blur Overlay */
    z-index: 1;
    content: "";
    position: absolute;
    display: block;
    height: 100%;
    width: 60%;
    background: rgba(12, 12, 12, 0.7);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    right: 40%;
  }
  #Hero .cs-background img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    /* Makes img tag act as a background image */
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #Hero .cs-content {
    width: 48%;
    margin-top: 0rem;
  }
  #Hero .cs-flex-group {
    padding: 0 0 0 0.9375rem;
  }
  #Hero .cs-background:before {
    right: 50%;
    margin-left: -127.1875rem;
  }
}
/* Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #Hero {
    padding: 9.375rem 0.9375rem 0 0.9375rem;
  }
  #Hero .cs-title {
    font-size: clamp(5rem, 6.7vw, 3.5rem);
  }
  #Hero .cs-text {
    font-size: clamp(2.5rem, 6.7vw, 1rem);
  }
  #Hero .cs-content {
    width: 50%;
    margin-top: 0rem;
  }
  #Hero .cs-container {
    width: 40%;
  }
  #Hero .cs-background:before {
    right: 60%;
  }
}
/* Desktop Parallax Effect - 1300px */
@media only screen and (min-width: 81.25rem) {
  #hero-229 {
    background: url("https://csimg.nyc3.digitaloceanspaces.com/Hero/Background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* creates parallax effect on background image */
    background-attachment: fixed;
    /* remove img tag so we can make parallax work */
  }
  #hero-229 .cs-picture img {
    display: none;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #hero-229 .cs-background:before {
    opacity: 0.8;
  }
}
/*-- -------------------------- -->
<---          Services          -->
<--- -------------------------- -*/
/* Mobile */
@media only screen and (min-width: 0rem) {
  .services {
    z-index: 3;
    border-radius: 0.3125em;
    background: #fff;
    padding: 1.875em 1.875em;
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  }
  .services .card {
    border-style: solid;
    border-width: 0.125em;
    border-radius: 5%;
    display: flex;
    min-width: 15.625em;
    flex-direction: column;
    align-items: center;
    margin: auto;
    padding: 0.625em 0;
    gap: 0.625em;
    margin-bottom: 3.125em;
    max-width: 22.3125em;
    width: 100%;
  }
  .services .card picture {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
  }
  .services .card picture img {
    height: 100%;
    width: 100%;
  }
  .services .card h2 {
    font-size: 2em;
    line-height: 1.35em;
    font-weight: 700;
    color: #1a1a1a;
    text-align: center;
  }
  .services .card p {
    opacity: 0.7;
    width: 100%;
    line-height: 1.33333333em;
    text-align: center;
  }
  .services .card:last-of-type {
    margin-bottom: 0;
  }
}
/* Inbetween */
@media only screen and (min-width: 1000px) {
  .services {
    display: flex;
    justify-content: space-between;
    align-items: space-between;
    font-size: min(1.8vw, 1em);
    gap: 0.625em;
  }
  .services .card {
    margin: 0;
    max-width: 20.3125em;
  }
}
/* Large Desktop */
@media only screen and (min-width: 1300px) {
  .services {
    padding: 3.125em 5em;
  }
  .services .card {
    max-width: 22.3125em;
  }
}
/* Dark mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #services {
    background: var(--medium);
  }
  body.dark-mode #services picture {
    background: var(--primaryDark);
  }
  body.dark-mode #services h2 {
    font-weight: bold;
    color: var(--bodyTextColorWhite);
  }
}
