/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #steps {
    padding: var(--sectionPadding);
    overflow: hidden;
    position: relative;
    z-index: 1;
  }
  #steps .cs-container {
    width: 100%;
    /* changes to 1280px at tablet */
    max-width: 44rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #steps .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #steps .cs-text {
    letter-spacing: 0.04em;
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }
  #steps .cs-item {
    text-align: center;
    list-style: none;
    display: flex;
    grid-column: span 12;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  #steps .cs-item:last-of-type:after {
    display: none;
  }
  #steps .cs-item:nth-of-type(even):after {
    /* scaleX -1 flips it horizontally */
    transform: rotate(-135deg) scaleX(-1);
  }
  #steps .cs-item:after {
    content: "";
    position: relative;
    display: block;
    /* 54px - 84px */
    width: clamp(3.375rem, 6vw, 5.25rem);
    height: clamp(3.375rem, 6vw, 5.25rem);
    margin-top: 1.25rem;
    background: url("https://csimg.nyc3.cdn.digitaloceanspaces.com/Icons/curved-arrow-light.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
    transform: rotate(135deg);
  }
  #steps .cs-picture {
    margin-bottom: 1.5rem;
    width: 5.5rem;
    height: 5.5rem;
    border: 1px solid #858585;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #steps .cs-icon {
    filter: grayscale(100%);
    width: 2.5rem;
    height: auto;
    display: block;
  }
  #steps .cs-h3 {
    font-size: 1.25rem;
    line-height: 1.2em;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
  #steps .cs-item-text {
    font-size: 1rem;
    line-height: 1.5em;
    text-align: inherit;
    max-width: 25.8125rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #steps .cs-graphic {
    width: 52.5rem;
    height: auto;
    opacity: 0.3;
    position: absolute;
    top: -5rem;
    left: -5rem;
    z-index: -1;
    transform: rotate(-10deg);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #steps .cs-container {
    max-width: 80rem;
  }
  #steps .cs-item {
    grid-column: span 4;
  }
  #steps .cs-item:nth-of-type(1):after {
    transform: rotate(45deg);
  }
  #steps .cs-item:nth-of-type(2):after {
    transform: rotate(135deg) scaleX(-1);
  }
  #steps .cs-item:after {
    margin: 0;
    position: absolute;
    right: -2.5rem;
    top: 0;
    transform: rotate(45deg);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #steps .cs-title,
  body.dark-mode #steps .cs-text,
  body.dark-mode #steps .cs-item-text,
  body.dark-mode #steps .cs-h3 {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #steps .cs-text,
  body.dark-mode #steps .cs-item-text {
    opacity: 0.8;
  }
  body.dark-mode #steps .cs-graphic {
    opacity: 0.05;
  }
}
/*-- -------------------------- -->
<---         Products           -->
<--- -------------------------- -*/
/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #products {
    padding: var(--sectionPadding);
    background-color: #FBF9F5;
  }
  #products .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #products .cs-card-group {
    margin: 0;
    padding: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 1.25rem;
  }
  #products .cs-item {
    width: 100%;
    text-align: left;
    list-style: none;
    margin: 0;
    /* 16px - 32px */
    padding: clamp(1rem, 3vw, 2rem);
    /* 80px - 140px */
    padding-top: clamp(5rem, 10vw, 8.75rem);
    border-radius: 1rem;
    background-color: #fff;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    grid-column: span 12;
    grid-row: span 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 1;
  }
  #products .cs-icon {
    /* 80px - 120px */
    height: clamp(5rem, 9vw, 7.5rem);
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
  }
  #products a {
    text-decoration: none;
  }
  #products .cs-title {
    /* 20px - 25px */
    text-decoration: none;
    font-size: clamp(1.25rem, 2.5vw, 1.5625rem);
    line-height: 1.2em;
    font-weight: bold;
    text-align: inherit;
    margin: 0 0 0.75rem 0;
    color: var(--headerColor);
  }
}
/* Tablet - 700px */
@media only screen and (min-width: 43.75rem) {
  #products .cs-item {
    grid-column: span 4;
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #products {
    background-color: rgba(0, 0, 0, 0.2);
  }
  body.dark-mode #products .cs-item {
    background-color: rgba(0, 0, 0, 0.3);
  }
  body.dark-mode #products .cs-title,
  body.dark-mode #products .cs-text,
  body.dark-mode #products .cs-h3,
  body.dark-mode #products .cs-item-text {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #products .cs-text {
    opacity: 0.8;
  }
}
/*add custom svg icons to website */
