<!-- ============================================ -->
<!--             Final Call to Action             -->
<!-- ============================================ -->

<section id="cs-cta">
    <div class="container">
        <h2 class="title">
            For a small shop we do big things. 
        </h2>
        <p>
            Contact Us for a free quote today!
        </p>
        <a class="cs-button-solid" href="/contact">Get an Estimate Now</a>
    </div>
    <picture>
        <source media="(max-width: 600px)" srcset="/assets/images/cta.jpg">
        <source media="(min-width: 601px)" srcset="/assets/images/cta.jpg">
        <img aria-hidden="true" decoding="async" src="/assets/images/cta.jpg" alt="sign" loading="lazy" width="2500" height="1667">
    </picture>

</section>