---
title: 'About'
description: 'Meta description for the page'
permalink: 'about/'
eleventyNavigation:
    key: About Us
    order: 200
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/about.css">
{% endblock %}

{% block body %}
<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">About Us</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="http://localhost:8080/assets/images/landing.jpg">
            <source media="(min-width: 601px)" srcset="http://localhost:8080/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="http://localhost:8080/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    </section>

<!-- ============================================ -->
<!--                 Side By Side                 -->
<!-- ============================================ -->

    <section id="sbs">
        <div class="cs-container">
            <!-- Right Content Section-->
            <div class="cs-flex-group">
                <h2 class="cs-title">About KMS Signs</h2> 
                <p class="cs-text">
                    We specialize in precision carved signs and plaques, business cards, letterheads, to rubber stamps. Hot and cold lamination for cards to posters. Custom cut stickers, labels, and bumper stickers. Banners, posters, magnetic vehicle signs, and that big
                    sign out in front of your business. 
                </p>

                <p class="cs-text">
                    We offer smart designs for your business from logos to trademarks or just layouts. Thousands like using our services since 1985. We can make most any size signage you want. Need a real estate or sidewalk sign or maybe a trade show display? Letter glass windows and doors for that look and feel your place needs.
                </p>

                <p class="cs-text">
                    We letter and stripe cars, trucks, boats, bikes, ATV's, snowmobiles, trailers and even planes. Do  you need those hard to find restoration stickers for those out of print projects? We can rebuild many images even from pictures. We will do full or partial wraps. We offer six color digital large format printing.
                </p>

                <p class="cs-text">
                    Our sign systems are state of the art technology that gives you fast in house production. You can see what it looks like on screen or print before it's done. Our good service is a testament to our many years in business. The materials we use are commercial grade that last inside and outside year after year.
                </p>

                <div class="cs-bottom-text">
                    <p class="cs-subtext">
                        It has been said, "You get what you pay for".  You can expect from us Quality at competitive prices. Please consider our designs to make your signs work, made easy to read and look great as signage or in print.
                    </p>
                    <span class="cs-name">Keith Simon</span>
                    <span class="cs-job">Owner</span>
                    <img class="cs-quote-icon" loading="lazy" decoding="async" src="https://csimg.nyc3.digitaloceanspaces.com/SideBySide/quote-white.svg" alt="gavel" width="136" height="77">
                </div>
                <a href="/contact" class="cs-button-solid">Contact Us</a>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}