---
title: 'Reviews'
description: 'Meta description for the page'
permalink: 'reviews/'
eleventyNavigation:
    key: Reviews
    order: 400
---

{% extends "layouts/base.html" %}

{% block head %}
    <link rel="stylesheet" href="/assets/css/reviews.css">
{% endblock %}

{% block body %}

<!-- ============================================ -->
<!--                    LANDING                   -->
<!-- ============================================ -->

    <section id="int-hero">
        <h1 id="home-h">Reviews</h1>
        <picture class="cs-picture">
            <source media="(max-width: 600px)" srcset="http://localhost:8080/assets/images/landing.jpg">
            <source media="(min-width: 601px)" srcset="http://localhost:8080/assets/images/landing.jpg">
            <img aria-hidden="true" decoding="async" src="http://localhost:8080/assets/images/landing.jpg" alt="new home" width="2500" height="1667" loading="eager">
        </picture>
    </section>

    </section>

<!-- ============================================ -->
<!--                  Reviews                     -->
<!-- ============================================ -->

    <section id="reviews">
        <div class="container">
            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Highly recommend , wouldn't go anywhere else. They designed my front window for my business ( Wagntails Dog Grooming ), 15 yrs ago when I first opened. Laurie & Keith are very knowledgeable and easy to work with !
                </p>
                <div class="star-group">
                    <span class="name">Donna Garner<span class="desc">Dog Groomer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>

            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Keith and Laurie are amazing people to work with. They take your problems as their own to solve it. Will be taking all my printing requirements to them.
                </p>
                <div class="star-group">
                    <span class="name">Sarat<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>

            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Extremely Friendly and Quick Staff. Keith and Laurie were on it as soon as I brought my computer in.
                </p>
                <div class="star-group">
                    <span class="name">Michael Oakes<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>

            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile-woman.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Great people!! Business has been in town for years. Trustworthy and pays great attention to detail on your signs etc.
                </p>
                <div class="star-group">
                    <span class="name">Jay Hooks<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>

            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Cordial and nice people, well experienced, easy to do business with. Beautiful work, fairly priced
                </p>
                <div class="star-group">
                    <span class="name">Michael McGrath<span class="desc">Customer</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>

            <div class="review">
                <picture>
                    <img class="profile" loading="lazy" decoding="async" src="/assets/svgs/profile.svg" alt="" width="99" height="99">
                </picture>
                <p>
                    Keith and Laurie are the best! They have been in business for a long time and know what they are doing. They are very helpful and friendly. I highly recommend them for all your printing needs.
                </p>
                <div class="star-group">
                    <span class="name">Zen Hanley-Reisser<span class="desc">Organ Donor</span></span>
                    <picture>
                        <img aria-hidden="true" loading="lazy" decoding="async" src="/assets/svgs/stars.svg" alt="stars" width="91" height="15">
                    </picture>
                </div>
            </div>
        </div>
    </section>

    {% include 'components/cta.html' %}

{% endblock %}